<%
this.adminPage = 'links';
%>
<%- include('admin_header') -%>
<div class="ui form">

<table class="ui center aligned celled table">
<thead>
  <tr>
    <th>名称</th>
    <th>链接</th>
    <th class="center aligned" width="50px">操作</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>
      <input type="text" id="add_title">
    </td>
    <td>
      <input type="text" id="add_url">
    </td>
    <td><a id="add_button" style="color: #000; " title="添加友链" href="#"><i class="fitted add icon"></i></a></td>
  </tr>
  <% for (let i = 0; i < links.length; i++) { %>
    <tr>
      <td><%= links[i].title %></td>
      <td><a href="<%= links[i].url %>"><%= links[i].url %></a></td>
      <td>
        <a onclick="$('#modal-remove-<%= i %>').modal('show');" style="color: #000; " href="#"><i class="fitted remove icon"></i></a>
        <div class="ui basic modal" id="modal-remove-<%= i %>">
          <div class="ui icon header">
            <i class="remove icon"></i>
            <p style="margin-top: 15px; ">删除友链</p>
          </div>
          <div class="content" style="text-align: center; ">
            <p>确认删除该友链吗？</p>
          </div>
          <div class="actions">
            <div class="ui red basic cancel inverted button">
              <i class="remove icon"></i>
              否
            </div>
            <a class="ui green ok inverted button remove_link" data-id="<%= i %>">
              <i class="checkmark icon"></i>
              是
            </a>
          </div>
        </div>
      </td>
    </tr>
  <% } %>
</tbody>
</table>
</div>

<form method="post" id="submit_form">
  <input type="hidden" name="data" id="submit_data">
</form>

<script>
var links = <%- serializejs(links) %>;
$('.remove_link').click(function () {
  links.splice($(this).data('id'), 1);
  $('#submit_data').val(JSON.stringify(links));
  $('#submit_form').submit();
});

$('#add_button').click(function () {
  links.push({ title: $('#add_title').val(), url: $('#add_url').val() });
  $('#submit_data').val(JSON.stringify(links));
  $('#submit_form').submit();
});
</script>
<%- include('admin_footer') -%>
