<% this.title = '排名 - ' + contest.title %>
<% include header %>
<%
let special_ranklist = contest.need_secret && contest.ranklist.ranking_group_info instanceof Array && contest.ranklist.ranking_group_info.length > 0;
let ranklists_cfg = null;
let classify_cfg = null;
if (special_ranklist) {
  classify_cfg = contest.ranklist.ranking_group_info[0];
  ranklists_cfg = contest.ranklist.ranking_group_info[1];
  for (let ranklist_cfg of ranklists_cfg) {
    ranklist_cfg.push(0);
    ranklist_cfg.push(0);
    for (let line_cfg of ranklist_cfg[2]) {
      line_cfg.push( line_cfg[1] ? Math.floor(ranklist.length * line_cfg[2] / 100) : line_cfg[2] );
    }
    ranklist_cfg[2].push( ["", false, ranklist.length, "", ranklist.length] );
  }
}
%>
<style>
.submit_time {
  font-size: 0.8em;
  margin-top: 5px;
  color: #000;
}
</style>
<div class="padding" style="overflow-x: auto;">
        <% if (is_freeze) { %>
        <div class="ui large info message">
          <div class="ui header">比赛 - <%= contest.title %></div>
          <p>当前榜单已经封榜，封榜后你不能在榜单上看到新提交是否正确。</p>
        </div>
        <% } %>
        <table class="ui very basic center aligned table">
            <thead>
            <tr>
                <% if (special_ranklist) { 
                  for (let ranklist_cfg of ranklists_cfg) { %>
                    <th><%= ranklist_cfg[0] %></th>
                  <% }
                } else { %>
                <th>#</th>
                <% } %>
                <th>用户名</th>
                <% if (contest.type === 'acm') { %>
                  <th>通过数量</th>
                  <th>罚时</th>
                <% } %>
                <% for (let i = 0; i < problems.length; i++) { %>
                <th>
                <% if (contest.type === 'acm' || contest.type === 'scc') { %>
                  <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'problem', i + 1]) %>" title="<%= syzoj.utils.removeTitleTag(problems[i].title) %>">
                    <%= String.fromCharCode('A'.charCodeAt(0) + parseInt(i)) %>
                  </a>
                <% } else { %>
                  <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, i + 1]) %>">
                    <%= syzoj.utils.removeTitleTag(problems[i].title) %>
                  </a>
                <% } %>
                </th>
                <% } %>
                <% if (contest.type === 'noi' || contest.type === 'ioi' || contest.type === 'scc') { %>
                  <th>总分</th>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <%
            for (let problem of problems) {
              let i = 0, min, minPos = -1;
              for (let item of ranklist) {
                i++;
                let condition;
                if (contest.type === 'acm') condition = item.player.score_details[problem.id] && item.player.score_details[problem.id].accepted && (minPos === -1 || item.player.score_details[problem.id].acceptedTime < min.player.score_details[problem.id].acceptedTime);
                else condition = item.player.score_details[problem.id] && item.player.score_details[problem.id].score === 100 && (minPos === -1 || item.player.score_details[problem.id].judge_state.submit_time < min.player.score_details[problem.id].judge_state.submit_time);
                if (condition) {
                  min = item;
                  minPos = i;
                }
              }
              problem.min = minPos;
            }

            let i = 0, rank = 0, lastItem;
            for (let item of ranklist) {
              i++;
              let latest = contest.start_time, timeSum = 0, unacceptedCount = 0;
            %>
            <tr>
                <%
                  let rankDelta = 0;
                  if (contest.type === 'noi' || contest.type === 'ioi' || contest.type === 'scc') {
                    if (i === 1 || item.player.score !== lastItem.player.score) rankDelta = i - rank, rank = i;
                  } else if (contest.type === 'acm') {
                    for (let problem of problems) {
                      if (item.player.score_details[problem.id] && item.player.score_details[problem.id].accepted) {
                        timeSum += (item.player.score_details[problem.id].acceptedTime - contest.start_time) + (item.player.score_details[problem.id].unacceptedCount * 20 * 60);
                        unacceptedCount += item.player.score_details[problem.id].unacceptedCount;
                      }
                    }
                    item.player.timeSum = timeSum;

                    if (i === 1 || item.player.score !== lastItem.player.score || item.player.timeSum !== lastItem.player.timeSum) rankDelta = i - rank, rank = i;
                  }
                %>
                <% if (special_ranklist) {
                  let is_first = true;
                  for(let ranklist_cfg of ranklists_cfg) if (ranklist_cfg[1].includes(item.user.classify_code)) {
                    ranklist_cfg[3] += rankDelta;
                    while (ranklist_cfg[3] > ranklist_cfg[2][ranklist_cfg[4]][4]) ranklist_cfg[4] ++;
                    let cur_cfg = ranklist_cfg[2][ranklist_cfg[4]];
                    let color_info_1 = 'unset', color_info_2 = '';
                    if (cur_cfg[3] == '1') color_info_1 = 'yellow';
                    else if (cur_cfg[3] == '2') color_info_1 = '';
                    else if (cur_cfg[3] == '3') color_info_1 = 'brown', color_info_2 = 'background-color: #C47222 !important;';
                    else if (cur_cfg[3] == '4') color_info_1 = 'unset', color_info_2 = '';
                    else color_info_2 = 'background-color: ' + cur_cfg[3].replace(/[^0-9a-zA-Z\,\#\ \(\)]+/g,'') + ' !important;';
                    if (is_first) {
                      is_first = false;
                      if (color_info_1 != 'unset') color_info_1 += ' ribbon';
                    }
                     %>
                    <td>
                    <div <% if (color_info_1 != 'unset') { %> class="ui <%= color_info_1%> label" <% } %> <% if (color_info_2) { %> style="<%= color_info_2%>" <% } %> <% if (cur_cfg[0]) { %>title="<%= cur_cfg[0] %>" <% } %> >
                    <%= ranklist_cfg[3] %>
                    </div>
                  <% } else {
                    is_first = false; %>
                  <td></td>
                  <% }
                } else {%>
                  <td>
                    <% if (rank == 1) { %>
                      <div class="ui yellow ribbon label">
                    <% } else if (rank == 2) { %>
                      <div class="ui ribbon label">
                    <% } else if (rank == 3) { %>
                      <div class="ui brown ribbon label" style="background-color: #C47222 !important;">
                    <% } else { %>
                      <div>
                    <% } %>
                    <%= rank %>
                    </div>
                  </td>
                <% } %>
                <td <% if (special_ranklist && classify_cfg[item.user.classify_code]) { %> title="<%= classify_cfg[item.user.classify_code][0] %>" style="background-color: <%= classify_cfg[item.user.classify_code][1].replace(/[^0-9a-zA-Z\,\#\ \(\)]+/g,'') %>" <% } %> ><a href="<%= syzoj.utils.makeUrl(['user', item.user.id]) %>"><%= item.user.username %></a><% if (item.user.nameplate) { %><%- item.user.nameplate %><% } %><% if (item.user.extra_info) { %><br><span style="color:#999"><%- item.user.extra_info %></span><% } %></td>
                <% if (contest.type === 'acm') { %>
                  <td>
                    <span class="score score_<%= parseInt((item.player.score / ranklist[0].player.score * 10) || 0) %>">
                      <%= item.player.score %>
                    </span>
                  </td>
                  <td>
                    <%= syzoj.utils.formatTime(timeSum) %>
                  </td>
                <% } %>
                <% for (let problem of problems) { %>
                  <% if (problem.min === i) { %>
                    <td style="background: rgb(244, 255, 245); ">
                  <% } else { %>
                    <td>
                  <% } %>
                  <% if (!item.player.score_details[problem.id]) { %>
                    </td>
                  <% } else if (contest.type === 'acm') { %>
                      <% let pendingInfo = item.player.score_details[problem.id].waitingCount > 0 ?  ('<span class="status pending"> +' + item.player.score_details[problem.id].waitingCount + '</span>') : ''; %>
                      <a href="<%= syzoj.utils.makeUrl(['submission', item.player.score_details[problem.id].judge_id]) %>">
                        <% if (item.player.score_details[problem.id].accepted) { %>
                          <span class="score score_10">
                            <% if (item.player.score_details[problem.id].unacceptedCount) { %>
                              +<%= item.player.score_details[problem.id].unacceptedCount %>
                            <% } else { %>
                              +
                            <% } %>
                          </span>

                          <%- pendingInfo %>

                          <div class="submit_time">
                            <%= syzoj.utils.formatTime(item.player.score_details[problem.id].acceptedTime - contest.start_time) %>
                          </div>
                        <% } else if (item.player.score_details[problem.id].unacceptedCount) { %>
                          <span class="score score_0">
                            -<%= item.player.score_details[problem.id].unacceptedCount %>
                          </span>

                          <%- pendingInfo %>
                        <% } else { %>
                          <%- pendingInfo %>
                        <% } %>
                      </a>
                    </td>
                  <% } else if (contest.type === 'noi' || contest.type === 'ioi') { %>
                      <a href="<%= syzoj.utils.makeUrl(['submission', item.player.score_details[problem.id].judge_id]) %>">
                        <% if (item.player.score_details[problem.id].weighted_score != null) { %>
                          <span class="<%= (contest.type === 'ioi' && item.player.score_details[problem.id].has_waiting) ? 'status pending' : ('score score_' + parseInt((item.player.score_details[problem.id].score / 10) || 0)) %>">
                            <%= Math.round(item.player.score_details[problem.id].weighted_score) %>
                          </span>
                        <% } else { %>
                          <span class="status <%= (contest.type === 'ioi' && item.player.score_details[problem.id].has_waiting) ? 'pending' : 'compile_error' %>">
                            0
                          </span>
                        <% } %>
                      </a>
                      <div class="submit_time">
                        <%= syzoj.utils.formatTime(item.player.score_details[problem.id].judge_state.submit_time - contest.start_time) %>
                        <% latest = Math.max(latest, item.player.score_details[problem.id].judge_state.submit_time)  %>
                      </div>
                    </td>
                  <% } else if (contest.type === 'scc') { %>
                      <a href="<%= syzoj.utils.makeUrl(['submission', item.player.score_details[problem.id].judge_id]) %>">
                        <% if (item.player.score_details[problem.id].score != null) { %>
                          <span class="<%= item.player.score_details[problem.id].has_waiting ? 'status pending' : ('score score_' + parseInt((item.player.score_details[problem.id].score / 10) || 0)) %>">
                            <%= Math.round(item.player.score_details[problem.id].score * 100) / 100 %>
                          </span>
                        <% } else { %>
                          <span class="<%= item.player.score_details[problem.id].has_waiting ? 'status pending' : 'score score_0' %>">
                            0
                          </span>
                        <% } %>
                      </a>
                      <div class="submit_time">
                        <%= item.player.score_details[problem.id].minLength %>
                      </div>
                    </td>
                  <% } %>
                <% } %>
                <% if (contest.type === 'noi' || contest.type === 'ioi') { %>
                  <td>
                    <span class="score score_<%= parseInt((item.player.score / ranklist[0].player.score * 10) || 0) %>">
                      <%= item.player.score %>
                    </span>
                    <div class="submit_time">
                      <%= syzoj.utils.formatTime(latest - contest.start_time) %>
                    </div>
                  </td>
                <% } else if (contest.type === 'scc') { %>
                  <td>
                    <span class="score score_<%= parseInt((item.player.score / ranklist[0].player.score * 10) || 0) %>">
                      <%= item.player.score / 100 %>
                    </span>
                    <div class="submit_time">
                      <%= item.player.totalLength %>
                    </div>
                  </td>
                <% } %>
            </tr>
            <% lastItem = item; %>
            <% } %>
            </tbody>
        </table>
<% if (!ranklist.length) { %>
<div style="background-color: #fff; height: 18px; margin-top: -18px; "></div>
<div class="ui placeholder segment" style="margin-top: 0px; ">
  <div class="ui icon header">
    <i class="ui file icon" style="margin-bottom: 20px; "></i>
    暂无选手提交
  </div>
</div>
<% } %>
</div>
<% include footer %>
