<% this.title = curTitle + ' - ' + curTypeDesc + ' - 准入码导入' %>
<% include header %>
<div style="padding: 1em;">
    <h1><%= curTitle + ' - ' + curTypeDesc + ' - 准入码导入' %></h1>
</div>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui buttons">
                <a class="ui small labeled icon blue button" href="<%= syzoj.utils.makeUrl([curType, curTypeId]) %>"><i class="arrow left icon"></i>返回管理页</a>
            </div>
            <div class="ui buttons right floated">
                <a class="ui small button" href="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret']) %>">清除筛选条件</a>
                <button class="ui small button red" id="secret_delete_all">删除所筛</button>
                <button class="ui small button blue" >批量导入</button>
                <button class="ui small button green" >批量导出</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 1em; margin-bottom: 1em;">
    <% include page %>
</div>
<form action="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'import']) %>" method="post" class="ui form" style="display: flex;align-items: center;" id="secret_form">
<table class="ui very basic center aligned table selectable celled">
    <thead>
    <tr>
        <th class="one wide"><%- createSortableTitle('secret', '准入码', true) %></th>
        <th class="left aligned"><%- createSortableTitle('extra_info', '绑定信息', true) %></th>
        <th class="one wide"><%- createSortableTitle('classify_code', '分类码', true) %></th>
        <th class="one wide"><%- createSortableTitle('user_id', '被绑定用户', true) %></th>
        <th style="width: 232px;">操作</th>
    </tr>
    </thead>
    <tbody>
        <tr style="height: 44px; ">
            <td class="field"><input placeholder="准入码" name="secret" value="<%= searchData.secret %>" type="text"></td>
            <td class="field"><input placeholder="绑定信息" name="extra_info" value="<%= searchData.extra_info %>" type="text"></td>
            <td class="field"><input placeholder="分类码" name="classify_code" value="<%= searchData.classify_code %>" type="text"></td>
            <td class="field">
                <select class="ui fluid search dropdown" multiple="" id="search_user_ids" name="user_ids">
                    <% for (let user of searchData.user) { %>
                    <option value="<%= user.id %>" selected><%= user.name %></option>
                    <% } %>
                </select>
            </td>
            <td class="inline fields" style="margin-bottom: 0;">
                <button class="ui labeled button icon" type="submit"><i class="ui search icon"></i>检索</button>
                <button class="ui labeled button icon blue secret_apply"><i class="ui edit icon"></i>应用</button>
            </td>
        </tr>
    <% for (let secret of secrets) { %>
        <tr style="height: 44px; ">
            <td><b class="markdown-edit"><%= secret.secret %></b></td>
            <td class="left aligned"><%= secret.extra_info %></td>
            <td><%= secret.classify_code %></td>
            <td><%= secret.user_desc %></td>
            <td class="inline fields" style="margin-bottom: 0;">
                <button class="ui labeled button icon blue secret_modify" data-value="<%= serializejs([secret.secret, secret.extra_info, secret.classify_code, secret.user_id, secret.user_desc]) %>"><i class="ui edit icon"></i>修改</button>
                <button class="ui labeled button icon red secret_delete" data-value="<%= secret.secret %>"><i class="ui trash icon"></i>删除</button>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>
</form>
<script>
$(function () {
    $('#search_user_ids')
    .dropdown({
        debug: true,
        placeholder: '用户',
        apiSettings: {
        url: '/api/v2/search/users/{query}',
        onResponse: function (response) {
            var a = $('#search_user_ids').val().map(function (x) { return parseInt(x) });
            if (response.results) {
                if (this.urlData.query == '-1' || '暂未绑定'.indexOf(this.urlData.query) > -1) response.results.push({name: '暂未绑定', value: -1});
                response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
            }
            return response;
        },
        cache: false
        }
    });
});
</script>

<% include footer %>
