<% this.title = curTitle + ' - ' + curTypeDesc + ' - 邮件发放准入码' %>
<% include header %>
<% include monaco-editor %>

<div style="padding: 1em;">
    <h1><%= curTitle + ' - ' + curTypeDesc + ' - 邮件发放准入码' %></h1>
</div>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui buttons">
                <a class="ui small labeled icon blue button" href="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret']) %>"><i class="arrow left icon"></i>返回管理页</a>
            </div>
            <div class="ui buttons right floated">
                <button class="ui small button orange" onclick="$('#send-form').attr('action', $('#send-form').attr('action') + location.search); $('#send_submit').click();">发送</button>
            </div>
        </div>
    </div>
</div>

<form style="margin-top: 20px;" action="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'send_mail']) %>" method="post" id="send-form">
    <input type="submit" id="send_submit" style="display: none;">
    <div class="ui form">
        <div class="field">
            <div class="field">
                <label>邮件标题模板（<code>{extra_info}</code> 为绑定信息; <code>{secret}</code> 为准入码）</label>
                <input type="text" name="title" value="<%= titleTemplate %>">
            </div>
            <label>邮件内容模板（<code>{extra_info}</code> 为绑定信息; <code>{secret}</code> 为准入码）</label>
        </div>
    </div>
    <div id="content" class="editor editor-with-border" style="height: 300px; width: 100%; margin-bottom: 1em; ">
        <%- this.showLoadingEditor(); %>
    </div>
    <input type="hidden" name="content">
</form>

<script>
$(function () {
    $('.dropdown').dropdown();
    var editors = { content: <%- serializejs(contentTemplate) %> };
    window.onEditorLoaded(function () {
        for (var name in editors) {
            var editorElement = document.getElementById(name);
            var input = document.getElementsByName(name)[0];
            var editor = window.createCodeEditor(editorElement, 'html', editors[name]);
            input.form.addEventListener('submit', function () {
                input.value = editor.getValue();
                console.log(input.value)
                return false;
            });
           editor.getModel().updateOptions({ insertSpaces: false, tabSize: 4 });
        }
    });
});
</script>

<% include footer %>
