<% this.title = curTitle + ' - ' + curTypeDesc + ' - 准入码导入' %>
<% include header %>
<% include monaco-editor %>

<div style="padding: 1em;">
    <h1><%= curTitle + ' - ' + curTypeDesc + ' - 准入码导入' %></h1>
</div>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui buttons">
                <a class="ui small labeled icon blue button" href="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret']) %>"><i class="arrow left icon"></i>返回管理页</a>
            </div>
            <div class="ui buttons right floated">
                <button class="ui small button green" onclick="$('#text_submit').click();">从文本导入</button>
                <button class="ui small button blue"  onclick="$('#file_choice').click();">从文件导入</button>
            </div>
        </div>
    </div>
</div>

<form style="display: none;" action="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'import']) %>" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file_choice" onchange="this.form.submit();">
</form>

<form style="margin-top: 20px;" action="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'import']) %>" method="post" enctype="multipart/form-data">
    <input type="submit" id="text_submit" name="file" style="display: none;">
    <div class="ui form">
        <div class="field">
            <label>文本格式</label>
            <select class="ui fluid dropdown" multiple="" name="format">
            <% for (let name in importColumn) {
                let item = importColumn[name]; %>
                <option value="<%= name %>" <%- item.selected ? 'selected' : '' %>><%= item.desc %></option>
            <% } %>
            </select>
        </div>
        <div class="field">
            <label>导入文本（Tab 分隔各项内容）</label>
        </div>
    </div>
    <div id="text" class="editor editor-with-border" style="height: 300px; width: 100%; margin-bottom: 1em; ">
        <%- this.showLoadingEditor(); %>
    </div>
    <input type="hidden" name="text">
</form>

<script>
$(function () {
    $('.dropdown').dropdown();
    var editors = { text: null };
    window.onEditorLoaded(function () {
        for (var name in editors) {
            var editorElement = document.getElementById(name);
            var input = document.getElementsByName(name)[0];
            var editor = window.createCodeEditor(editorElement, 'plaintext', '');
            input.form.addEventListener('submit', function () {
                input.value = editor.getValue();
                console.log(input.value)
                return false;
            });
           editor.getModel().updateOptions({ insertSpaces: false, tabSize: 4 });
        }
    });
});
</script>

<% include footer %>
