<% this.title = curTitle + ' - ' + curTypeDesc + ' - 准入码管理' %>
<% include header %>
<div style="padding: 1em;">
    <h1><%= curTitle + ' - ' + curTypeDesc + ' - 准入码管理' %></h1>
</div>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui buttons">
                <a class="ui small labeled icon blue button" href="<%= syzoj.utils.makeUrl([curType, curTypeId]) %>"><i class="arrow left icon"></i>返回<%= curTypeDesc %></a>
            </div>
            <div class="ui buttons right floated">
                <a class="ui small button" href="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret']) %>">清除筛选条件</a>
                <button class="ui small button red" id="secret_delete_all">删除所筛</button>
                <% if (curType === 'contest') { %>
                <button class="ui small button orange" id="secret_mail_send">发送邮件</button>
                <% } %>
                <a class="ui small button blue" href="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'import']) %>">批量导入</a>
                <a class="ui small button green" href="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'export']) %>">批量导出</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 1em; margin-bottom: 1em;">
    <% include page %>
</div>
<form action="<%= syzoj.utils.makeUrl([curType, curTypeId, 'secret']) %>" method="get" class="ui form" style="display: flex;align-items: center;" id="secret_form">
<input type="hidden" name="page" value="<%= paginate.currPage %>">
<table class="ui very basic center aligned table selectable celled">
    <thead>
    <tr>
        <th class="one wide"><%- createSortableTitle('secret', '准入码', true) %></th>
        <th class="left aligned"><%- createSortableTitle('extra_info', '绑定信息', true) %></th>
        <th class="one wide"><%- createSortableTitle('email', '邮箱', true) %></th>
        <th class="one wide"><%- createSortableTitle('classify_code', '分类码', true) %></th>
        <th class="one wide"><%- createSortableTitle('user_id', '被绑定用户', true) %></th>
        <th style="width: 232px;">操作</th>
    </tr>
    </thead>
    <tbody>
        <tr style="height: 44px; ">
            <td class="field"><input placeholder="准入码" name="secret" value="<%= searchData.secret %>" type="text"></td>
            <td class="field"><input placeholder="绑定信息" name="extra_info" value="<%= searchData.extra_info %>" type="text"></td>
            <td class="field"><input placeholder="邮箱" name="email" value="<%= searchData.email %>" type="email"></td>
            <td class="field"><input placeholder="分类码" name="classify_code" value="<%= searchData.classify_code %>" type="text"></td>
            <td class="field">
                <select class="ui fluid search dropdown" multiple="" id="search_user_ids" name="user_ids">
                    <% for (let user of searchData.user) { %>
                    <option value="<%= user.id %>" selected><%= user.name %></option>
                    <% } %>
                </select>
            </td>
            <td class="inline fields" style="margin-bottom: 0;">
                <button class="ui labeled button icon" type="submit"><i class="ui search icon"></i>检索</button>
                <button class="ui labeled button icon blue secret_apply"><i class="ui edit icon"></i>应用</button>
            </td>
        </tr>
    <% for (let secret of secrets) { %>
        <tr style="height: 44px; ">
            <td><b class="markdown-edit"><%= secret.secret %></b></td>
            <td class="left aligned"><%= secret.extra_info %></td>
            <td><%= secret.email %></td>
            <td><%= secret.classify_code %></td>
            <td><%= secret.user_desc %></td>
            <td class="inline fields" style="margin-bottom: 0;">
                <button class="ui labeled button icon blue secret_modify" data-value="<%= serializejs([secret.secret, secret.extra_info, secret.email, secret.classify_code, secret.user_id, secret.user_desc]) %>"><i class="ui edit icon"></i>修改</button>
                <button class="ui labeled button icon red secret_delete" data-value="<%= secret.secret %>"><i class="ui trash icon"></i>删除</button>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>
</form>
<br>
<% include page  %>
<div class="ui basic modal" id="modal-secret-error">
    <div class="ui icon header">
        <i class="cancel icon"></i>
        <p style="margin-top: 15px; ">错误</p>
    </div>
    <div class="content" style="text-align: center;">
        <p id="secret-error-content"></p>
    </div>
    <div class="actions">
        <div class="ui green cancel inverted button">
            <i class="checkmark icon"></i>
            确定
        </div>
    </div>
</div>
<div class="ui basic modal" id="modal-secret-delete-confirm">
    <div class="ui icon header">
        <i class="trash icon"></i>
        <p style="margin-top: 15px; ">删除</p>
    </div>
    <div class="content" style="text-align: center;">
        <p>确定将所筛内容全部删除?</p>
        <b>所筛的 <%= paginate.totalCnt %> 条准入码将不能被恢复。</b>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="cancel icon"></i>
            否  
        </div>
        <div class="ui green cancel inverted button" id="secret_delete_confirmed">
            <i class="checkmark icon"></i>
            是
        </div>
    </div>
</div>
<script>
$(function () {
    $('.secret_apply').click(function() {
        $.post(<%- serializejs(syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'apply'])) %>, $('#secret_form').serialize(), function(e) {
            if (e.success) {
                $('#secret_form').submit();
                return;
            }
            $('#secret-error-content').text(e.message);
            $('#modal-secret-error').modal('show');
        }, 'json');
        return false;
    });
    $('.secret_delete').click(function() {
        $.post(<%- serializejs(syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'delete'])) %>, {
            secret: this.getAttribute('data-value')
        }, function(e) {
            if (e.success) {
                $('#secret_form').submit();
                return;
            }
            $('#secret-error-content').text(e.message);
            $('#modal-secret-error').modal('show');
        }, 'json');
        return false;
    });
    $("#secret_delete_all").click(function() {
        $("#modal-secret-delete-confirm").modal('show');
    });
    $("#secret_delete_confirmed").click(function () {
        $.post(<%- serializejs(syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'delete_all'])) %>, location.search.substr(1) + '&number=' + encodeURIComponent(<%- serializejs(paginate.totalCnt) %>), function(e) {
            if (e.success) {
                location.href = './secret';
                return;
            }
            $('#secret-error-content').text(e.message);
            $('#modal-secret-error').modal('show');
        }, 'json');
    });
    $('#secret_mail_send').click(function () {
        location.href = <%- serializejs(syzoj.utils.makeUrl([curType, curTypeId, 'secret', 'send_mail'])) %> + location.search + (location.search ? '&' : '?') + 'number=' + encodeURIComponent(<%- serializejs(paginate.totalCnt) %>);
    });
    $('.secret_modify').click(function() {
        var info = JSON.parse(this.getAttribute('data-value'));
        $('[name="secret"]').val(info[0]);
        $('[name="extra_info"]').val(info[1]);
        $('[name="email"]').val(info[2]);
        $('[name="classify_code"]').val(info[3]);
        $('#search_user_ids').dropdown('setup menu',{ values: [ {value:info[4], text:info[5], name:info[6]} ] });
        $('#search_user_ids').dropdown('set exactly',info[4]);
        $("html,body").animate({scrollTop: 0},200);
        return false;
    });
    $('#search_user_ids')
    .dropdown({
        placeholder: '用户',
        apiSettings: {
        url: '/api/v2/search/users/{query}',
        onResponse: function (response) {
            var a = $('#search_user_ids').val().map(function (x) { return parseInt(x) });
            if (response.results) {
                if (this.urlData.query == '-1' || '暂未绑定'.indexOf(this.urlData.query) > -1) response.results.push({name: '暂未绑定', value: -1});
                response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
            }
            return response;
        },
        cache: false
        }
    });
});
</script>

<% include footer %>
