<% this.title = '提交对比' %>
<%- include('header') -%>
<%- include('util') -%>
<script src="<%- lib('textfit/2.4.0/textFit.min.js') %>"></script>
<% if (contest) { %>
<h1 style="text-align: center;"><a href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><%= contest.title %></a></h1>
<% } %>
<div class="padding">
    <style>
      .nopaddingfields > .field.ui {
        padding-right: 0!important;
      }
    </style>

  <table id="vueAppFuckSafari" class="ui very basic center aligned table" style="white-space: nowrap; " id="table">
    <thead>
      <tr>
        <th>编号</th>
        <th>题目</th>
        <th>状态</th>
        <th v-if="displayConfig.showScore">分数</th>
        <th v-if="displayConfig.showUsage">总时间</th>
        <th v-if="displayConfig.showUsage">内存</th>
        <th v-if="displayConfig.showCode">代码 / 答案文件</th>
        <th>提交者</th>
        <th>提交时间</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" :config="displayConfig" :show-rejudge="false" :data="item" is='submission-item' :rough="true">
      </tr>
    </tbody>
  </table>
</div>

<script src="<%- lib('vue/2.5.21/vue.min.js') %>"></script>
<script src="<%- lib('socket.io/4.0.1/socket.io.min.js') %>"></script>

<%- include('submissions_item') -%>

<script>
$(function () {
  $('#select_language').dropdown();
  $('#select_status').dropdown();
});
const itemList = <%- serializejs(items) %>;
const socketUrl = "/rough";
const displayConfig = <%- serializejs(displayConfig) %>;

const vueApp = new Vue({
  el: '#vueAppFuckSafari',
  data: {
    items: itemList,
    displayConfig: displayConfig
  },
});

if (itemList.some(function(t) {return t.token != null;})) {
  const socket = io(socketUrl);
  socket.on('connect', function () {
    for (let x of itemList.filter(function(x) {return x.token != null;})){
      const getItem = function (id){ return itemList.find(function(x){ return x.info.taskId === id; })};
      socket.on('start', function (data) {
        getItem(data.taskId).running = true;
      });

      socket.on('finish', function (data) {
        getItem(data.taskId).running = false;
        getItem(data.taskId).result = data.result;
        if (itemList.every(function(x){ return x.result; })) {
          socket.close();
        }
      });

      socket.emit('join', x.token, function (data) {
        if (data && data.ok) {
          if (data.running) {
            x.running = true;
          } else if (data.finished) {
            x.running = false;
            x.result = data.result;
          }
        } else {
          alert("ERROR: " + JSON.stringify(data));
        }
      });
    }
  })
}
</script>
<%- include('monaco-editor') -%>
<div style="display: flex; justify-content: center; margin-bottom: 20px; align-items: baseline;">
  <div class="ui checkbox">
    <input name="is_splited" type="checkbox">
    <label>分栏模式</label>
  </div>
  <% if (rate) { %>
    <span style="margin-left: 20px;">相似度: <b><%= rate %>%</b> 词法分析方式: <b><%= simType %></b></span>
  <% } else if (can_rate) { %>
    <a style="margin-left: 20px;" href="<%= syzoj.utils.makeUrl(['submissions', 'diff', a_id, b_id], { rate: simType }) %>" class="ui green labeled icon mini button"><i class="ui code icon"></i>显示相似度</a>
  <% } %>
</div>
<div id="editor" class="editor" style="border: 1px solid #D4D4D5; height: 500px; margin-bottom: 20px; " >
  <%- this.showLoadingEditor(); %>
</div>
<script>
window.onEditorLoaded(function () {
  var editor;
  window.editor = editor = window.createDiffEditor(document.getElementById("editor"), <%- serializejs(a_code) %>, <%- serializejs(a_lang) %>, <%- serializejs(b_code) %>, <%- serializejs(b_lang) %>);
  editor.updateOptions({readOnly: true});
  $('[name=is_splited]').change(function(){editor.updateOptions({renderSideBySide: $(this).is(':checked')})});
  $('[name=is_splited]').click();
});
</script>
<%- include('footer') -%>
